.wrapper {
  width: 330px;
  height: 400px;
  text-align: center;
  background-color: #E9EDC9;
  border-radius: 37% 63% 55% 45% / 67% 52% 48% 33%;
}

.pictures {
  width: 300px;
  height: 370px;
  margin-top: 10px;
  border-radius: 67% 52% 48% 33% / 37% 63% 55% 45%;
  object-fit: cover;
}

.big-wrapper {
  display: flex;
  justify-content: space-around;
}

