:root {
  --primary-color: #630436;
  --secondary-color: #59534e;
  --default-color:  #E3D5CA;
  --header-color:  #D5BDAF;

  /* --background-color: #ccc2b5; */
  --background-color: #f1e7df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jost;
  font-weight: 200;
}

body {
  background-color: var(--background-color); 
}