:root {
  --primary-color: #630436;
  --secondary-color: #59534e;
  --default-color:  #E3D5CA;

  --background-color: #ccc2b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jost;
}

body {
  background-color: var(--background-color); 

}